* {
    box-sizing: border-box;
    margin: 0px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background: grey;
}

h1 {
    justify-content: right;
    background-color: cyan;
    color: gray;
    padding-right: 1%;
    padding-left: 50px;

}

nav {
    display: flex;
    font-size: 20px;
    text-align: left;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 450px;
}

nav a {
    text-decoration: none;
    color: cyan;
    font-weight: bold;
    border-bottom-style: solid;
    padding: 0px 5px 5px 5px;
}